// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$bilbao-theme: #3d80b8;
$bilbao-light: #cfe7fc;
$bilbao-green:  #89f060;
$bilbao-red: #d60202;

$custom-theme-colors: (
    "bilbaotheme": $bilbao-theme,
    "bilbaoLight": $bilbao-light,
    "bilbao-green":$bilbao-green,
    "bilbao-red": $bilbao-red,

);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/bootstrap";

// 5. Then add additional custom code here

 .thumb-post img {
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 512px; 
    width: auto;
  }

  .bilbao-green {
    color: $bilbao-green
  }

  .bilbao-red {
    color: $bilbao-red
  }

  .bilbao-icon {
    color : $bilbao-theme;
  }

  .bilbao-text-color p {
    color: $bilbao-theme;
  }

  .small-circle {
    font-size: 3px;
    height: 6px;
    vertical-align: middle;
  }
 