<div class="card position-fixed">
  <div class="card-body">
    <!-- Accordion -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <form action="/" method="POST">
        <% for( let index = 0; index < neighbourhoods.length; index++ ) { %>
        <div class="accordion-item">
          <%- include("./nbHeader", {index, neighbourhood: neighbourhoods[index], checkedDistricts })%>
          <div
            id="flush-collapse<%=index%>"
            class="accordion-collapse collapse"
            aria-labelledby="flush-heading<%=index%>"
          >
            <%- include("./nbBody", {index, neighbourhood: neighbourhoods[index], checkedNbs})%>
          </div>
        </div>
        <% } %>
        <div class="mt-3 text-center">
          <button
            type="submit"
            class="btn btn-bilbaotheme text-light"
            id="nbSearch"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
