<div class="d-flex">
  <p class="card-text text-secondary me-3">
    <i class="bilbao-icon fa-solid fa-message"></i> <%= post.replyNumber %>
    Comentarios
  </p>
  <p class="card-text text-secondary me-3">
    <i class="bilbao-icon fa-solid fa-share-nodes"></i> Compartir
  </p>
  <p class="card-text text-secondary me-3">
    <i class="bilbao-icon fa-solid fa-bookmark"></i> Guardar
  </p>
  <p class="card-text text-secondary me-3">
    <i class="bilbao-icon fa-solid fa-ellipsis"></i>
  </p>
  <div class="d-flex ms-auto">
    <p class="card-text text-secondary me-3">
      <i class="bilbao-green fa-solid fa-thumbs-up fa-lg"></i>
    </p>
    <p class="card-text text-secondary me-3">
      <i class="bilbao-red fa-solid fa-thumbs-down fa-lg"></i>
    </p>
  </div>
</div>
