<div class="d-flex bilbao-text-color">
  <p class="card-text me-3"><%=post.author.username%></p>
  <p class="card-text me-3">
    <i class="small-circle fa-solid fa-circle up-10"></i>
  </p>
  <p class="card-text me-3"><%= post.neighbourhood %></p>
  <p class="card-text me-3 d-none d-md-inline">
    <i class="small-circle fa-solid fa-circle up-10"></i>
  </p>
  <p class="card-text me-3 d-none d-md-inline"><%= post.district %></p>
  <p class="card-text me-3">
    <i class="small-circle fa-solid fa-circle up-10"></i>
  </p>
  <p class="card-text">
    <small class="me-3"><%= post.timeSincePost %> </small>
  </p>
</div>
