<nav
  id="navbar"
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-bilbaotheme"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bilbao Barrios</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"
            ><i class="fa-solid fa-house fa-lg"></i> Inicio</a
          >
        </li>
        <li   class ="nav-item">
          <a
  class="nav-link"
  data-bs-toggle="offcanvas"
  href="#offcanvasExample"
  role="button"
  aria-controls="offcanvasExample"
>
<i class="fa-solid fa-people-line fa-lg">

</i>
 Barrios
</a>
        </li>
      </ul>

      <!-- Navbar End -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/post/new"
            ><i class="fa-solid fa-plus fa-xl">
              <!-- Create post -->
            </i></a
          >
          <!-- Notifications -->
          <li>
            <a class="nav-link" href="#"><i class="fa-solid fa-bell fa-lg">
              <!-- Notifications -->
            </i></a>
          </li>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user fa-lg">
              <!-- User -->
            </i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <% if (currentUser == undefined) { %>
            <li class="nav-item">
              <a class="dropdown-item" href="/register">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="/login">Iniciar Sesión</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="dropdown-item" href="/logout">Salir</a>
            </li>
            <% } %>
          </ul>
        </li>
        <!-- End Dropdown -->
      </ul>
    </div>
  </div>
</nav>
