<% layout("layouts/boilerplate") %>

    <body>
        <form action="/post" method="POST">
            <label for="title">Title</label>
            <input type="text" name="post[title]" id="title">
            <label for="">Post</label>
            <input type="text" name="post[content]" id="post">
            <button type="submit">Submit</button>
        </form>