<% layout("layouts/boilerplate") %>
<div class="ro">
  <div class="col-12">
    <div class="alert alert-danger" role="alert">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <!-- <% if (process.env.NODE_ENV !== "production") { %> -->
      <pre><%= error.stack %></pre>
      <!-- <% } %> -->
    </div>
  </div>
</div>
