<% layout("layouts/boilerplate") %>

<!-- Posts -->
<% for( let index=posts.length-1; index>= 0 ; index--) { %>
<div class="col-md-12 d-flex justify-content-center">
  <div class="card shadow mb-3 w-50">
    <% if (posts[index].image) { %>
    <div class="thumb-post">
      <img
        src="<%=posts[index].image.url%> "
        class="card-img-top img-fluid mh-25"
      />
    </div>
    <% } %>
    <div class="card-body">
      <div class="text-center">
        <h3 class="card-title"><%= posts[index].title %></h3>
        <p class="card-text"><%=posts[index].content%></p>
        <p class="card-text"><small class="text-muted">X Replies</small></p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a
          href="post/<%=posts[index]._id%> "
          class="btn btn-bilbaotheme text-light ms-3"
          >View</a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
