<div class="card mb-3">
  <div class="d-flex card-body justify-content-evenly">
    <a class="card-text text-decoration-none text-black" href="#"
      ><i class="bilbao-red fa-solid fa-gift fa-xl"></i> Reciente</a
    >
    <a class="card-text text-decoration-none text-black" href="#"
      ><i class="bilbao-green fa-solid fa-arrow-up fa-xl"></i> Top</a
    >
    <a class="card-text text-decoration-none text-black" href="#"
      ><i class="bilbao-orange fa-solid fa-fire fa-xl"></i> Popular</a
    >
  </div>
</div>
